{% extends "base.html" %} {% block content %}
<div class="col-md-12">
    <h2>EDIT POST</h2>
    <hr>
</div>
<div class="col-md-12">
    <form method="post">
        <div>
            <label for="title">
                <div>Title</div>
            </label>
            <div>
                <input class="title" type="text" name="subject" size="40" value="{{blog.title}}{{blog_title}}">
            </div>
            <label for="blog">
                <div>Blog</div>
            </label>
            <div>
                <textarea class="blog-content" name="content" id="" cols="40" rows="7">{{blog.content}}{{blog_content}}</textarea>
            </div>
            <div class="error">
                {{error}}
            </div>
        </div>
        <input class="btn btn-info" type="submit">
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <a href="/blog">
                    <span class="cancel-div btn btn-success">
                        CANCEL EDIT POST
                    </span>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{delete_post}}">
                    <span class="delete-div btn btn-danger">
                        DELETE POST
                    </span>
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}