{% extends "base.html" %} {% block content %}
<div class="col-md-12">
    <h1 class="text-center">Login</h1>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="login__form">
            <form method="post">
                <div class="row">
                    <label>
                        <div>Username </div>
                    </label>
                    <input autofocus class="form__input" placeholder="Username" type="text" name="username">
                </div>
                <div class="row">
                    <label>
                        <div>Password</div>
                    </label>
                    <input class="form__input" placeholder="Password" type="password" name="password">
                </div>
                <div class="row">
                    <div class="col_error">{{login_error}}</div>
                </div>
                <br>
                <input class="btn btn-info" type="submit">
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}