{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h2>NEW POST</h2>
    <form action="" method="post">
        <div>
            <label for="">
                <div>Title</div>
                <input class="title" type="text" name="subject" value="{{blog_title}}">
            </label>
        </div>
        <br>
        <div>
            <label for="">
                <div>Blog</div>
                <textarea class="content-area" name="content" id="" cols="" rows="7">{{blog_content}}</textarea>
            </label>
        </div>
        <div class="error">
            {{error}}
        </div>
        <input type="submit">
    </form>
</div>
{% endblock %}