{% extends "base.html" %} {% block content %}
<div class="col-md-12">
    <h1 class="text-center">Create Your Account</h1>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="signup__form">
            <form method="post">
                <div class="row">
                    <label>
                        <div>Username</div>
                    </label>
                    <input autofocus class="form__input" placeholder="Username" type="text" name="username" value="{{user}}">
                    <div class="col_error">{{username_error}}</div>
                </div>
                <div class="row">
                    <label>
                        <div>Password</div>
                    </label>
                    <input class="form__input" placeholder="Password" type="password" name="password">
                    <div class="col_error">{{password_error}}</div>
                </div>
                <div class="row">
                    <label>
                        <div>Verify </div>
                    </label>
                    <input class="form__input" placeholder="Verify Password Again" type="password" name="verify">
                    <div class="col_error">{{password_mismatch}}</div>
                </div>
                <div class="row">
                    <label>
                        <div>Email ID</div>
                    </label>
                    <input class="form__input" placeholder="Email (optional)" type="text" name="email" value="{{email}}">
                    <div class="col_error">{{email_error}}</div>
                </div>
                <br>
                <input class="btn btn-info" type="submit">
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
{% endblock %}